.Employee {
  margin: 20px;
  padding: 10px;
  border: 1px solid grey;
  width: 30%;
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  .Employee {
    width: 100%;
    margin: 0;
  }
}
